.logo{
    width: 150px;

}

.img-banner{
    width: 600px;
    

}

p{
    text-align: justify;
}

.img-destaque{
    width: 300px;
}

.galeria{

    margin: 5px;
    border: 3px solid black;
    float: left;
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;

}

.galeria p{
    margin-left: 10px;
}
 
.fundo-banner{
    background-color: #21734C;
}

.img-novidades{
    width: 600px;
    


}

.img-senai-footer{
    position: absolute;
    width: 300px;
    height: auto;
    margin-left: 85px;
    margin-top: 155px;
}
.info-contato{
    position: absolute;
    font-size: large;
    width: 194px;
    height: 233px;
    margin-left: 511px;
    margin-top: 70px;
}
.img1{
    width: 100px;
    height: 100px;
    margin-top: 150px;
}
.img2{
    width: 100px;
    height: 100px;
    margin-top: 150px;
}
.img3{
    width: 100px;
    height: 100px;
    margin-top: 150px;
}
.img4{
    width: 100px;
    height: 100px;
    margin-top: 150px;
}

.fundo{
    background-color: powderblue;

}